<i class="mail outline icon"></i>
<i class="comment icon"></i>
<h1>Hi! Welcome to your Main Blogging Page!</h1>

<%= link_to "Create a New Post", new_post_path %>

<% if @posts.any? %>
  <h2>Here are all your posts:</h2>
<% end %>

<% @posts.each do |post| %>
  <ul>
    <li><%= link_to post.title, post_path(post) %></li>
  </ul>
<% end %>

<div class="wrapper">
  <div class="inner"></div>
  <div class="triangle"></div>
  <div class="triangle"></div>
  <div class="triangle"></div>
</div>
